<md-content>
  <md-tabs md-dynamic-height="" md-border-bottom="">
    <md-tab label="{{p.name}}" ng-repeat="p in people" ng-click="selectPeople(p)">
      <div>
        <span>{{p.title}} <b>{{p.name}}</b></span>
        <span class="pull-right">{{p.points}} points</span>
      </div>
    </md-tab>
  </md-tabs>
</md-content>
<div id="popupContainer">
    <div ui-calendar="uiConfig.calendar" ng-model="rewards"></div>
</div>

<br /><br /><br /><br /><br /><br />

<div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
  <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
    <span style="font-size:50px; font-weight:bold">Certificat de Titre</span>
    <br><br>
    <span style="font-size:25px"><i>Ceci est pour certifier que</i></span>
    <br><br>
    <span style="font-size:30px"><b>{{selectedPeople.name}}</b></span><br/><br/>
    <span style="font-size:25px"><i>est devenu{{selectedPeople.sex == 'F' ? 'e': ''}}</i></span> <br/><br/>
    <span style="font-size:30px">{{selectedPeople.title}}</span> <br/><br/>
    <span style="font-size:20px">après avoir obtenu{{selectedPeople.sex == 'F' ? 'e': ''}} <b>{{selectedPeople.points}}</b> points</span>
    <br/><br/><br/><br/>
    <span style="font-size:25px"><i>{{now()}}</i></span><br></span>
  </div>
</div>